body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7fffd4;
  }


.calculator {
    width: 300px;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    background-color: #6495ed;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

.display {
    height: 60px;
    font-size: 24px;
    text-align: right;
    padding: 5px;
    background-color: #fff8dc;
    border: 1px solid #fa8072;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: auto; 
  }
  
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    gap: 5px;
  }
  
  button {
    height: 80px;
    width: 70px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #00ff7f;
  }
  
  button:hover {
    background-color: #e1e1e1;
  }